@font-face {
  font-family: 'ShinyFont';
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-style: normal;
}

html, body {
  min-height: 100%;
}

.pageWrapper {
  font-family: 'ShinyFont', 'cursive';
  min-width: 800px;
}

.head {
  width: 100%;
  height: 50px;
  /* background-color: #9B9B8D;
  border-bottom: 1px solid black; */
  background: radial-gradient(transparent 37%, #282828 35%, #282828 70%, transparent 70%) 4px 4px, radial-gradient(black 30%, transparent 32%) 0 0, radial-gradient(rgba(255, 255, 255, .1) 30%, transparent 40%) 0 1px;
  background-color: #282828;
  background-size: 16px 16px, 8px 8px, 8px 8px;
}

.body {
  min-width: 50%;
  min-height: 88%;
  position: relative;
  background-color: #EEEEEE;
  background-image: url("../resources/fadedTrack.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.albums {
  min-width: 230px;
  min-height: 550px;
  position: absolute;
  bottom: 45px;
  right: 115px;
}

.coverArt {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 160px;
  width: 160px;
}

.coverArt img {
  max-width: 100%;
  max-height: 100%;
}

.pageName {
  font-size: 50px;
  padding-left: 20%;
  padding-top: 200px;
  color: #4E0562;
}

button {
  width: 200px;
  height: 40px;
  margin-left: 20%;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #353528;
  color: white;
  font-size: 22px;
}

.foot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  /* background-color: #68685B; */
  background: radial-gradient(transparent 37%, #282828 35%, #282828 70%, transparent 70%) 4px 4px, radial-gradient(black 30%, transparent 32%) 0 0, radial-gradient(rgba(255, 255, 255, .1) 30%, transparent 40%) 0 1px;
  background-color: #282828;
  background-size: 16px 16px, 8px 8px, 8px 8px;
}

.copywrite {
  color: white;
  margin-left: 50px;
  margin-top: 15px;
  font-size: 24px;
}

@media screen and (min-height: 800px) {
  .body {
    height: 95%;
  }
  .albums {
    min-width: 300px;
    min-height: 700px;
    position: absolute;
    bottom: 35px;
    right: 145px;
  }

  .coverArt {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    width: 200px;
  }
  @media screen and (min-height: 1080px) {
    .body {
      height: 95%;
    }
    .albums {
      min-width: 500px;
      min-height: 700px;
      position: absolute;
      bottom: 50px;
      right: 145px;
    }

    .coverArt {
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 300px;
      width: 300px;
    }
  };

};
